# EMQX MQTT Configuration
VITE_EMQX_HOST=your-emqx-host.com
VITE_EMQX_USER=your-username
VITE_EMQX_PASS=your-password
VITE_EMQX_PORT=8084
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"
