# EMQX MQTT Configuration
VITE_EMQX_HOST=tc0960f1.ala.asia-southeast1.emqxsl.com
VITE_EMQX_USER=web_login
VITE_EMQX_PASS=iccq3118k
VITE_EMQX_PORT=8084
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="https://tc0960f1.ala.asia-southeast1.emqxsl.com:8443/api/v5"
VITE_INFLUX_URL=https://us-east-1-1.aws.cloud2.influxdata.com
VITE_INFLUX_TOKEN=NabACaLA5dI0p7OIxofyOhGb2GTtCeUyjZ3KKzaAlFJhsYXQybFV40aqWjka4aTlHldCJYPAHHZQSUEDi-JuWQ==
VITE_INFLUX_ORG=nato
VITE_INFLUX_BUCKET=furnace_telemetry
